@import url("https://fonts.googleapis.com/css?family=Muli|Open+Sans|Roboto&display=swap");

body {
  font-family: "Muli", sans-serif;
  color: rgb(50, 68, 87);
}

h1,
h6 {
  font-family: "Roboto", sans-serif;
}
